@page "/"
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (files != null)
{
    <ul>
        @foreach (var f in files)
        {
            <li><a href="@f.Url">@f.Name</a></li>
        }
    </ul>
}

@code{

}